/*M.Q Quienes Somos*/

@media (max-width:768px){
    .quienes-somos {
        h1 {}
        .contenedor-quienessomos {

            
            .card-comenzo {
                @include flex(column-reverse, center, center);
                text-align:center ;
                .card {
                    width: 350px;
                    height: 200px;
                    border: 0;
                    }
                .texto-primero {
                    h2 {}
                    p {}
                }
            }

            .card-vamos {
                @include flex(column-reverse, center, center);
                text-align: center;
                .card {
                    width: 350px;
                    height: 200px;
                    border: 0;
                }
                
                .texto-segundo {
                    h2 {}
                    p {}
                }
            } 

            .card-hacemos {
                @include flex(column-reverse, center, center);
                text-align: center;
                .card {
                    width: 350px;
                    height: 200px;
                    border: 0;
                }
                .texto-ultimo {
                    h2 {}
                    p {}
                }
            }
        }
    }
}