/* Main Shop */

.primero-shop{
    grid-area: total;
    h1{
        text-align: center;
        padding-top: 20px;
        border-bottom: 3px solid black;
        padding-bottom: 10px;
    }
}

.main-shop{
    @include flex(row, center, center);
        gap:750px;
        padding-bottom: 100px;
        padding-top: 50px;
    .medio-shop{
        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-bottom: 50px;
    
            li{
                margin-top: 10px;
                text-align: center;
                list-style: none;
                padding-left: 25px;
                font-size: 18px;
                font-weight: 490;
            }
        }
    }
    .buscador{
        input{
            border-radius: 5px;
        }
        .button-buscador{
            border-radius: 5px;
            width: 95px;
            height: 40px;
            h2{
            font-size: 26px;
            font-weight: 400;}
        }
    }
}

.ultimo-shop{
    background-color: #ffffff52;
        div{
            display: grid;
            grid-template-columns: repeat(3,auto);
            grid-template-rows: repeat(3,auto);
            justify-items: center;
            align-self: center;
            padding-bottom: 50px;
            .imagen-main-shop{
                width: 300px;
                height: 280px;
                padding: 5px;
                border-radius: 10px;
            } 
        }
    }