/*Comienzo footer*/

footer{
    font-family: 'Montserrat', sans-serif;
    background-color: nth($list: $colores, $n: 1 );
    color: nth($list: $colores, $n: 2);
    font-size: medium;
    display: flex;
    justify-content: center;
    .logo-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        .imagen-footer{
            width: 110px;
            height: 110px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    .parte-dos-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        nav{
            text-align: center;
            padding-right: 20px;
            ul{
                li{
                    list-style-type: none;
                    a{
                        color:nth($list: $colores, $n: 2);
                        text-decoration: none;
                        font-size: medium;
                    }
                }
            }
        }
        .footer-icon{
            display: flex;
            justify-content: center;
            gap: 8px;
            width: 35px;
            height: 35px;
            .icon-footer{
                padding: 0;
                }
            }
        }
        .footer-info{
            text-align: center;
            padding-top: 15px;
            h3{
                font-size: medium;
                font-weight: 400;
            }
        }
    }