/*comienzo de header,responsive*/

header{
    background-color: nth($list: $colores, $n: 1);
    font-size: 20px;
    font-weight: 450;
    font-family: 'Montserrat', sans-serif;

    nav{
        div{
            a{
                img{
                    width: 170px;
                    height: 140px;
                    padding-left: 40px; 
                }
            }
            button{
                .menu-ham{
                    background-image: url(../Archivos/ICONOS/Menu\ hamb.svg);
                    box-shadow: none;
                    border: 0;
                }
            }
            .menu{
                flex-grow: 0;
                padding-right: 100px;
                ul{
                    .nav-item{
                        a{color: nth($list: $colores, $n: 2);
                        }
                    }
                }
            }
        }
    }
}